
 
.testimonial{
    /* border-left: 4px solid #d45113; */
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.06);
	padding: 30px 30px 30px 130px;
	background-color: white;
    margin: 0 15px 30px 15px;
    overflow: hidden;
	position: relative;
	border-radius: 20px;
}
/* .testimonial:before{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-top: 25px solid #d45113;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    transform: rotate(-45deg);
    transform-origin: 80% -30% 0;
} */
.testimonial .pic{
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 60px;
    left: 20px;
}
.testimonial .pic img{
    width: 100%;
    height: auto;
}
.testimonial .description{
	font-family: Avenir;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: #4B5D68;
    line-height: 25px;
    margin-bottom: 15px;
}
.testimonial .title{
    display: inline-block;

    color: #212353;
	margin: 0;
	font-family: Avenir;
font-style: normal;
font-weight: 800;
font-size: 18px;
}
.testimonial .post{
    display: inline-block;
	font-family: Avenir;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	color: #FF5C5C;
}
.owl-theme .owl-controls .owl-page span{
    border: 2px solid grey;
    background: #fff;
    opacity: 1;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls .owl-page:hover span{
    background: #212353;
}
@media only screen and (max-width: 767px){
    .testimonial{
        padding: 20px;
        text-align: center;
    }
    .testimonial .pic{
        display: block;
        position: static;
        margin: 0 auto 15px;
    }
}

.testimonial-heading{
	
font-family: Helvetica;
font-style: normal;
font-weight: bold;
margin-left: 3%;
color:white;
padding-top:25px;
}

.testimonial-container{
	background: grey;
border-radius: 50px;
width: 1118px;
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 150px;
}

.insta-heading{
	font-family: Helvetica;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: #212353;
	position: relative;
	top: 35%;
	transform: translateY(-50%);
   
}

.insta-content{
	color: #4B5D68;
	font-family: Avenir;
font-style: normal;
font-weight: 500;
font-size: 18px;
position: relative;
top: 50%;
transform: translateY(-50%);

}



.insta-container{
	background: #e6e6e6 ;
border-radius: 50px;
width: 1117px;
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 150px;
}

.expert-container{
	width:1118px;
	margin-left: auto;
margin-right: auto;
margin-top: 150px;
}

.expert-title{
	font-family: Helvetica;
font-style: normal;
font-weight: bold;
font-size: 40px;
color: #212353;
text-align: center;
}

.expert-subtitle{
	font-family: Avenir;
font-style: normal;
font-weight: 500;
font-size: 18px;
color: #4B5D68;
text-align: center;
margin-top: 5%;
}

.native-background{
	background-image: url(native.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

}

.expert-heading{
	font-family: Helvetica;
font-style: normal;
font-weight: normal;
font-size: 24px;
text-align: center;
color: #212353;

}
.expert-para{
	font-family: Avenir;
font-style: normal;
font-weight: normal;
color: #4B5D68;
text-align: center;
font-size: 16px;

}
.footer-p1{
font-family: Avenir;
font-style: normal;
font-weight: 500;
font-size: 16px;
color: #212353;
text-align: left;
}

.footer-p2{
	font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 16px;
color: #212353;
text-align: left;
}

.footer-heading2{
	font-family: Avenir;
font-style: normal;
font-weight: 800;
font-size: 16px;
color: #212353;

}
.footer-2-ul{
	font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 16px;
list-style: none;

}

ul{

	padding-left:0 !important;
}

.icon{
	color:white;
	padding-left:20%;
	padding-top: 20%;
	height: 100%;
	width: 100%;
	font-size: 23px;
}
.social-circle{
	background-color: grey;
	
	border-radius: 50%;
	display: inline-block;
	height: 35px;
	width: 35px;
}
.copyright{
	font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 12px;
color: #212353;
}

.create-heading{
	font-family: Helvetica;
font-style: normal;
font-weight: bold;
font-size: 80px;
color: #212353;
}
.create-para{
	text-align: left;
	font-family: Avenir;
font-style: normal;
font-weight: 500;
font-size: 18px;
color: #4B5D68;
}

.create-button{
border-radius: 25px;
padding-left:20px;
padding-right: 20px;
padding-top:10px;
padding-bottom: 10px;
background:grey;
color:white;
border:2px solid grey;
}

.nav-button{
	color: #212353;
	background: white;
	border-radius: 25px;
	border:2px solid white;
	padding: 10px;
}

.icon1{
	color:purple;
}

.create-container{
	margin-left: auto;
	margin-right: auto;
	margin-top: 150px;
}

@media only screen and (max-width: 800px) {

.footer-p2
{
	text-align: center;
}
.create-container{
	width: 100%;
	margin-top: 105px !important;
}
.insta-container{
	width: 100%;
	margin-top: 50px;
}
.testimonial-container{
	width: 100%;
	margin-top: 50px;
}

.expert-container{
	width: 100%;
	margin-top: 50px;
}
.create-heading{
	font-size: 40px;
}
.insta-content{
	position:none;
top:0;
transform: none;
text-align: center;
}
.insta-heading{
	position:none;
	top:0;
	transform: none;
	text-align: center;
}

.create-mobile{
	text-align: center;
}
.create-para{
	text-align: center;
	font-size: 18px;
}

.copyright-container{
	text-align: center;
}
.footer-p1
{
	text-align: center;
}

.native2{
	width: 95% !important;
	height: 100% !important;
}
.native3{
	width: 95% !important;
	height: 100% !important;
}
.native4{
	width: 95% !important;
	height: 100% !important;
	
}
.native5{
	width: 95% !important;
	height: 100% !important;
}

.native1{
	width: 100px !important;
}

.native-position{
	margin-left: -35px !important;
}

.pos1{
margin-top: -110px !important;
}
.pos2{
margin-top: -120px !important;
}
.pos3{
margin-top: -115px !important;
}
.pos4{
margin-top: -130px !important;
}
.from-top{
	margin-top:50px;
}


  }

  body{
	  width:100%;
  }

 .insta-img{
	 width: 100%;
 }




.native2{
	width: 60%;
background: #d3dadf;
display: block;
margin:auto;
height: 200px;
border-radius: 50px;
}

.vertical-center{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.native3{
	width: 60%;
background: #e1e6ea;
display: block;
margin:auto;
height: 200px;
border-radius: 50px;

}

.native4{
	width: 60%;
background: #e1e6ea;
display: block;
margin:auto;
height: 200px;
border-radius: 50px;
}
.native5{
	width: 60%;
background: #d3dadf;
display: block;
margin:auto;
height: 200px;
border-radius: 50px;
}


.native-position{
	margin-left: -10px;
	margin-top:-150px;
	position: absolute;

}

.native1{
	width: 150px;
}


